{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'about.css'%}">
    <title>About us</title>
</head>
<body style="background-color:#EEDCB8;">
<div class="responsive-container-block bigContainer">
  <div class="responsive-container-block Container">
    <p class="text-blk heading">
      About Us
    </p>
    <p class="">READ LEAD SUCCEED</p>
    <p class="text-blk subHeading">
      Knowledge is priceless and books are the best means from which you can attain this knowledge.
      Reading is believed to empower people, offer them education, and give them an opportunity to live for a moment in someone else’s shoes.
      Books are also a critical asset to improve in one’s life while it also offers an occasional escape to fictional worlds inhabited by interesting characters of the books.
      We are a team of literary critics working hard to make reading more accessible to the world.
    </p>

    <p>
      Inkwell Books is the well known site for readers and book recommendations.
      Our mission is to help people find and share books they love. Inkwell Book launched in January 2007.
    </p>
    <div class="social-icons-container">
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb35.png">
      </a>
      <a class="social-icon">
        <img class="socialIcon image-block" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png">
      </a>
    </div>
  </div>
</div>

</body>
</html>