{% load static%}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'detail.css' %}">

    <title>Book details</title>
</head>
<style>
    body {
       background-image: url("{% static 'detail_background.jpg' %}");
    }
</style>
<body>
<div class="card-mb-3" style="max-width:840px; background-color:white;">
    <div class="row row-no-gutters">
       <div class="card-mb-3 card-details">

         <div class="col-md-4">

         </div>
          <div class="col-md-8">
              <div class="card-body">
                 <img src="{{object.image_url}}" class="card-img">
                 <h3 class="card-title">{{object.title}}</h3>
                <p class="card-text">Author - {{object.author}}</p>
                <p class="card-text">{{object.description}}</p>
                <p class="card-text">Rs/-{{object.price | floatformat:2}}</p>
                <a id="add-to-cart-btn" class="btn btn-success" href="{% url 'add_to_cart' book_id=object.id %}" onclick="alert('Item Added To cart')">Add to Cart</a>
                 {% if object.book_available is True%}
                 <a href="{% url 'checkout' object.pk%}" class="btn btn-outline-success" role="button">Buy Now</a>
                 {% else %}
                 <h4 class="text-danger">Out Of Stock</h4>
<!--                <a href="#" class="btn btn-outline-info" onclick="addToWishlist()">Add To WishList</a>-->

                 {% endif %}
              </div>
          </div>
       </div>
    </div>
</div>



</body>
</html>