
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
    <title>SignUp</title>
</head>
<body>
<form method="post">
    {% csrf_token%}
    {{form.as_p}}
    <button type="submit" class="btn btn-sucess">Sign Up</button>
</form>

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    <div>-->
<!--        <label for="id_username">Username:</label>-->
<!--        <input type="text" id="id_username" name="username" placeholder="Username" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="id_password">Password:</label>-->
<!--        <input type="password" id="id_password" name="password" placeholder="Password" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="id_password_confirm">Password confirmation:</label>-->
<!--        <input type="password" id="id_password_confirm" name="password_confirm" placeholder="Confirm Password" required>-->
<!--    </div>-->
<!--    <button type="submit" class="btn btn-success">Sign Up</button>-->
<!--&lt;!&ndash;<p class="box">There is no friend as loyal as book ~Ernest Hemingway</p>&ndash;&gt;-->
<!--</form>-->





</body>
</html>
